################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSOPESY_GROUP2/FileContentIndex/0f265257-92d3-403e-9e9f-f3b42f3dad49.vsidx
/.vs/CSOPESY_GROUP2/FileContentIndex/39f83f39-e469-4f43-8309-543ad1560a31.vsidx
/.vs/CSOPESY_GROUP2/FileContentIndex/83ad50ed-02dc-414b-8534-6efe29c88e3f.vsidx
/.vs/CSOPESY_GROUP2/FileContentIndex/8a9fa7bf-7c50-40f2-9c60-99a195caa2d4.vsidx
/CSOPESY_GROUP2/x64/Debug/CSOPESY_GROUP2.tlog/link.write.1.tlog
/CSOPESY_GROUP2/x64/Debug/Homework6.obj
/CSOPESY_GROUP2/x64/Debug/MarqueeConsole.obj
/CSOPESY_GROUP2/x64/Debug/Process.obj
/CSOPESY_GROUP2/x64/Debug/vc143.idb
/CSOPESY_GROUP2/x64/Debug/vc143.pdb
/Process9.txt
/x64/Debug/CSOPESY_GROUP2.exe
/x64/Debug/CSOPESY_GROUP2.pdb
/.vs/CSOPESY_GROUP2/v17/.wsuo
/.vs/CSOPESY_GROUP2/v17/Browse.VC.db
/.vs/CSOPESY_GROUP2/v17/Browse.VC.db-shm
/.vs/CSOPESY_GROUP2/v17/Browse.VC.db-wal
/.vs/CSOPESY_GROUP2/v17/Browse.VC.opendb
/.vs/CSOPESY_GROUP2/v17/DocumentLayout.backup.json
/.vs/CSOPESY_GROUP2/v17/DocumentLayout.json
/.vs/CSOPESY_GROUP2/v17/ipch/AutoPCH/1bf7c8e258255db9/HOMEWORK6.ipch
/.vs/CSOPESY_GROUP2/v17/ipch/AutoPCH/9016c2c29f5f5a08/MARQUEECONSOLE.ipch
/CSOPESY_GROUP2/x64/Debug/CSOPESY_GROUP2.tlog/Cl.items.tlog
/CSOPESY_GROUP2/x64/Debug/CSOPESY_GROUP2.tlog/CL.read.1.tlog
/CSOPESY_GROUP2/x64/Debug/CSOPESY_GROUP2.tlog/CL.write.1.tlog
/CSOPESY_GROUP2/x64/Debug/CSOPESY_GROUP2.tlog/CSOPESY_GROUP2.lastbuildstate
/CSOPESY_GROUP2/x64/Debug/CSOPESY_GROUP2.tlog/link.command.1.tlog
/CSOPESY_GROUP2/x64/Debug/CSOPESY_GROUP2.tlog/link.read.1.tlog
/CSOPESY_GROUP2/x64/Debug/CSOPESY_GROUP2.tlog/link.secondary.1.tlog
/.vs/CSOPESY_GROUP2/FileContentIndex/fe4ab86f-d06c-4a94-8f16-9a73afd17403.vsidx
/.vs/CSOPESY_GROUP2/v17/.suo
/.vs/VSWorkspaceState.json
/CSOPESY_GROUP2/x64/Debug/CSOPESY_GROUP2.exe.recipe
/CSOPESY_GROUP2/x64/Debug/CSOPESY_GROUP2.ilk
/CSOPESY_GROUP2/x64/Debug/CSOPESY_GROUP2.log
/CSOPESY_GROUP2/x64/Debug/CSOPESY_GROUP2.tlog/CL.command.1.tlog
/.vs/CSOPESY_GROUP2/FileContentIndex/976ba322-7e03-4e80-ba3d-1b5c31aa9e04.vsidx
/.vs/CSOPESY_GROUP2/FileContentIndex/83ad50ed-02dc-414b-8534-6efe29c88e3f.vsidx
/.vs/CSOPESY_GROUP2/FileContentIndex/8a9fa7bf-7c50-40f2-9c60-99a195caa2d4.vsidx
